body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signUpContainer{
    display: flex;
    width: 1440px;
    height: 1024px;
}

.signUpLogoImg{
    height: fit-content;
    opacity: 85%;
}

.odinLogo{
    width: 70px;
    height: 100px;
}

.signUpLogoText{
    background-color:#596d4872;
    margin-top: -500px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 10px;
}

.signUpLogoText p{
    color: rgb(255, 255, 255);
    font-size: 50px;
    position: sticky;
}

.signUpForm .top p{
    font-weight: bold;
    font-size: 18px;
    color: #222;
}

.signUpForm .top {
    margin: 50px 0px 50px 50px;
}

.signUpForm .middle{
    margin: 0px 0px 50px 50px;
    color: #222;
}

.first_last_name, .email_phone, .passwords{
    display: flex;
    gap: 250px;
}

.firstName, .lastName, .email, .phone, .password, .confirmPassword{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

h2{
    font-size: 20px;
}

label{
    font-size: 14px;
    color: #535353;
}

input{
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    padding: 5px;
    font-size: 16px;
}

.passwords input:invalid{
    border: 2px solid red;
}

.passwords input:valid{
    border: 2px solid green;
}

#togglePassword {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #dbdbdb;
    border: none;
    border-radius: 5px;
    color: #596D48;
    cursor: pointer;
    width: 65%;
    align-self: center;
    transition: background-color 0.s ease-in-out;
    transition: color 0.7s ease-in-out;
}

#togglePassword:hover{
    background-color: #596D48;
    color: #dbdbdb;
}

input:focus-visible{
    outline: none;
}

.first_last_name input:focus{
    border: 2px solid rgb(38, 94, 250);
    box-shadow: 2px 4px 6px #777;
}

.email_phone input:focus{
    border: 2px solid rgb(38, 94, 250);
    box-shadow: 2px 4px 6px #777;
}

.signUpForm .createAccountBtnCont{
    margin-top: 50px;
}

.createAccountBtn{
    background-color: #596D48;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 6px 6px 4px #777;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: background-color 0.6s ease;
}

.createAccountBtn:hover{
    background-color: #316900;
}

.createAccountBtnCont p{
    font-size: 18px;
}

.createAccountBtnCont .loginLink{
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #596D48;
    transition: font-size 0.4s ease-in-out;
}

.loginLink:hover{
    font-size: 1.5em;
    color: #316900;
}

/* Media Queries */
@media (max-width: 1024px) {
    .signUpLogoText p {
        font-size: 40px;
    }

    .signUpForm .top p, .signUpForm .middle h2 {
        font-size: 16px;
    }

    input {
        width: 180px;
        font-size: 14px;
    }

    .first_last_name, .email_phone, .passwords {
        gap: 150px;
    }

    .createAccountBtn {
        font-size: 16px;
    }

    .createAccountBtnCont p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .signUpContainer {
        flex-direction: row;
        height: auto;
    }

    .signUpLogoImg {
        width: 100%;
        height: auto;
    }

    .signUpLogoText {
        margin-top: -400px;
    }

    .signUpLogoText p {
        font-size: 30px;
    }

    .signUpForm {
        width: 90%;
        margin: 0;
    }
    
    .signUpForm .top p, .signUpForm .middle h2 {
        font-size: 14px;
    }

    .signUpForm .top .p_top{
        width: 38%;
    }

    input {
        width: 150px;
        font-size: 12px;
    }

    .first_last_name, .email_phone, .passwords {
        gap: 20px;
    }

    .createAccountBtn {
        font-size: 14px;
    }

    .createAccountBtnCont p {
        font-size: 14px;
    }
}